$color-text: #3F4A3C;
$color-highlights: #8b9a85;
$color-primary: #728c69;
$color-primary-dark: #465d3f;
$color-background: #fdfdfa;

$color-grey-light: #f7f7f7;
$color-grey-medium: #dbdbdb;
$color-grey-dark: #c3c1c1;
