<div class="text-content text-content--centered">
    {{ languages[page.lang].components.organisms.gifting.details }}
    <div class="text-content__cta">
        {% assign url = '/gifting/' | parseUrl : page.lang %}
        {% render "components/atoms/call-to-action",
            url: url,
            text: languages[page.lang].components.organisms.gifting.contribute
        %}
    </div>
</div>
