<p class="countdown js-countdown" data-module="countdown">
    <span class="countdown__days js-countdown-days">#</span>
    <span class="text-s">
        {{ languages[page.lang].components.molecules.countdown.daystogo }}
    </span>
</p>
