<time class="wedding-date" datetime="2023-05-06">
    <span class="wedding-date__end">{{ languages[page.lang].components.molecules.weddingdate.dayofweek }}</span>
    <span class="wedding-date__middle">{{ languages[page.lang].components.molecules.weddingdate.day }}</span>
    <span class="wedding-date__end">{{ languages[page.lang].components.molecules.weddingdate.monthyear }}</span>
</time>
